section.header
  a(href="#").logo
  nav.nav_bar
    ul
      li
        a(href="#/") Информация
      li
        a(href="studentsBase.html") База активистов
      li
        a(href="profile.html") Рассказать о себе
      
