section.header
  a(href="#").logo
  nav.nav_bar
    ul
      li
        a(href="#/") Информация
      li
        a(href="studentsBase.html") База активистов
      li
        a(ui-sref="profileLink.sref" ng-bind="profileLink.title")
      
