extends layout
block header
  include header
block content
  section.page_content 
    div.index_header
      div.index_title
        p Онлайн портфолио активных студентов  ниту мисис
 block footer 
   include footer
 
