<!DOCTYPE html>
html(lang="en" ng-app="AcyivityAggregator" ng-controller="appCtrl")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="styles/main.css")
  link(rel="stylesheet", href="styles/lib/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="styles/lib/foundation.min.css")
body(ng-controller='pageCtrl')
  div.wrapper
    block header
    block content
    block footer
	script(src="js/lib/angular.min.js")
	script(src="js/lib/angular-sanitize.min.js")
	script(src="js/lib/angular-sanitize.min.js")
	script(src="js/lib/angular-ui-router.min.js")
	script(src="js/build/build.js")