doctype html
html(lang='en', ng-app='ActivityAggregator.admin', ng-controller='appCtrl')
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title(ng-bind='title')
    link(rel='stylesheet', href='../styles/main.css')
    link(rel='stylesheet', href='../styles/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../styles/lib/foundation.min.css')
    link(rel='stylesheet', href='../styles/lib/ngDialog.min.css')
  body(ng-controller='pageCtrl' ng-cloak)
    .wrapper(ng-cloak='')
      section.header.small-12.columns
        a.logo(href='#')
        nav.nav_bar(ng-cloak='')
         ul
           li
             a(ui-sref='inbox', ng-bind="currentUser.firstName + ' ' + currentUser.lastName")
           li
              a(ui-sref='inviteAdmin' ng-if='currentUser.firstName') Добавить администратора   
      section(ui-view='page_content')
      section(ui-view='footer')
    script(type='text/javascript', src='../admin/js/lib/angular.min.js')
    script(type='text/javascript', src='../admin/js/lib/angular-sanitize.min.js')
    script(type='text/javascript', src='../admin/js/lib/angular-ui-router.min.js')
    script(type='text/javascript', src='../admin/js/lib/ngDialog.min.js')
    script(type='text/javascript', src='../admin/js/build/build.js')

