doctype html
html(lang='en', ng-app='ActivityAggregator', ng-controller='appCtrl')
  head
    base(href="/")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title(ng-bind='title')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='../styles/main.css')
    link(rel='stylesheet', href='../styles/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../styles/lib/foundation.min.css')
    link(rel="stylesheet", href="../styles/lib/ring.css")
  body(ng-controller='pageCtrl')
      section.header.small-12.columns
        a.logo(ui-sref="mainPage")
        a.burger(ng-cloak, ng-click='showMobileMenu = !showMobileMenu')
          i.fa.fa-bars
        nav.nav_bar(ng-cloak='')
          ul
            li
              a(ui-sref='mainPage') Информация
            li
              a(ui-sref='studentsBase') База активистов
            li
              a(ui-sref='auth', ng-if='!(currentUser._id)') Вход
              a#profile_link(ui-sref='account(currentUser._id)', ng-if='(currentUser._id && !currentUser.role )', ng-bind="currentUser.firstName + ' ' + currentUser.lastName")
              a#profile_link(href='admin', ng-if='(currentUser.role)') Вы зашли как администратор  
            li(ng-if='currentUser._id')
              a#logout(ng-click='logout()')
                i.fa.fa-sign-out
      section.mobile_nav_bar_background.small-12.columns(ng-if='showMobileMenu', ng-cloak, style="{visibility: hidden}")
        nav.mobile_nav_bar
          ul.small-12.columns
            li.small-12.columns
              a(ui-sref='mainPage', ng-click='showMobileMenu = false') Информация
            li.small-12.columns
              a(ui-sref='studentsBase', ng-click='showMobileMenu = false') База активистов
            li.small-12.columns
              a(ui-sref='auth', ng-if='!(currentUser._id)') Рассказать о себе
              a#profile_link(ui-sref='account(currentUser._id)', ng-if='(currentUser._id)', ng-bind="currentUser.firstName + ' ' + currentUser.lastName")
      section(ui-view='page_content')
      section(ui-view='footer')
      section.notification_popup.small-12.medium-3.medium-offset-8.columns.popupIn(ng-if="showMessage")
        div.row
          div.small-3.columns.nt_label
            span.bad(ng-show="msg.type.bad")
            span.good(ng-show="msg.type.good")
          div.small-9.columns.msg
            p(ng-bind="msg.content")
    .startScreen(ng-if="starting")
        .loader-wrapper.start
          .loader
          .loader_circle 
    script(type='text/javascript', src='../js/lib/angular.min.js')
    script(type='text/javascript', src='../js/lib/angular-sanitize.min.js')
    script(type='text/javascript', src='../js/lib/angular-ui-router.min.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload-shim.js')
    script(type='text/javascript', src='../js/build/build.js')
