doctype html
html(lang='en', ng-app='ActivityAggregator', ng-controller='appCtrl')
  head
    base(href="/")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title(ng-bind='title')
    link(rel='stylesheet', href='../styles/main.css')
    link(rel='stylesheet', href='../styles/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../styles/lib/foundation.min.css')
  body(ng-controller='pageCtrl', ng-cloak='')
    .wrapper(ng-cloak='')
      section.header.small-12.columns
        a.logo(href='#')
        a.burger(ng-cloak, ng-click='showMobileMenu = !showMobileMenu')
          i.fa.fa-bars
        nav.nav_bar(ng-cloak='')
          ul
            li
              a(ui-sref='mainPage') Информация
            li
              a(ui-sref='studentsBase') База активистов
            li
              a(ui-sref='auth', ng-if='!(currentUser._id)') Рассказать о себе
              a#profile_link(ui-sref='account(currentUser._id)', ng-if='(currentUser._id)', ng-bind="currentUser.firstName + ' ' + currentUser.lastName")
            li(ng-if='currentUser._id')
              a#logout(ng-click='logout()')
                i.fa.fa-sign-out
      section.mobile_nav_bar_background.small-12.columns(ng-if='showMobileMenu', ng-cloak, style="{visibility: hidden}")
        nav.mobile_nav_bar
          ul.small-12.columns
            li.small-12.columns
              a(ui-sref='mainPage', ng-click='showMobileMenu = false') Информация
            li.small-12.columns
              a(ui-sref='studentsBase', ng-click='showMobileMenu = false') База активистов
            li.small-12.columns
              a(ui-sref='auth', ng-if='!(currentUser._id)') Рассказать о себе
              a#profile_link(ui-sref='account(currentUser._id)', ng-if='(currentUser._id)', ng-bind="currentUser.firstName + ' ' + currentUser.lastName")
      section(ui-view='page_content')
      section(ui-view='footer')
    script(type='text/javascript', src='../js/lib/angular.min.js')
    script(type='text/javascript', src='../js/lib/angular-sanitize.min.js')
    script(type='text/javascript', src='../js/lib/angular-ui-router.min.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload.js')
    script(type='text/javascript', src='../js/lib/ng-file-upload-shim.js')
    script(type='text/javascript', src='../js/build/build.js')
