<!DOCTYPE html>
html
    .content
        span Новые достижения от студентов:
        .count Всего #{count}
            ul
            each achivment in achivments
                li #{achivment.name}
