<div class="page_content">
	<div class="row">
  <div class="form_card medium-6 medium-centered large-5 large-centered columns">
    <form>
      <div class="row column login_form">
        <span class="form_title">Вход на платформу</span>
        <label>Электронная почта</label>
          <input type="email" placeholder="jambul@example.com" ng-model='auth.email'>
        <label>Пароль</label>
          <input type="password" placeholder="********" ng-model="auth.password">
					<input type="submit" class="submit_form" value="Войти" ng-click="submit()">
					<a ui-sref="registry">Регистрация</a>
      </div>
    </form>
  </div>
</div>
</div>
