
 <div class="page_content">
	<div class="row">
  <div class="form_card small-centered medium-6 medium-centered large-5 large-centered columns">
    <form>
      <div class="row column login_form">
        <span class="form_title">Приглашение администратора</span>
        <label>Введите любое слово для генерации пригласительной ссылки</label>
          <input type="text"  placeholder="Кодове слово" ng-model='secret' required>
        <label>Пригласительная ссылка</label>
          <input type='text' ng-model='inviteLink'>
		<input type="submit" class="submit_form" value="Получить ссылку" ng-click="generate()">
      </div>
    </form>
  </div>
</div>
</div>
