  <section class="page_content">
      <div class="container">
        <div class="row profile_info">
          <div class="profile_info_card small-12 medium-7 medium-centered columns">
            <div class="user_main_info">
              <div class="avatar_profile" style="{{avatar(student)}}">
              </div><span class="user_name_profile" ng-bind="student.firstName + ' ' + student.lastName"></span>
              <span class="user_course_profile" ng-bind="student.department +' '+ student.course + ' курс' + ' ' + 'student.group' "></span>
              <span class="user_number_profile" ng-bind="'Номер студенческого билета ' + student.number"></span>
            </div>
            <div class="user_detail" ng-if="student.about" ng-cloak><span>O ceбе</span>
              <p ng-bind="student.about"></p>
            </div>
          <button class="btn_edit_user_detail" ng-if="student.status == 0" ng-click="confirm()">Подтвердить</button>
          <button class="btn_edit_user_detail" ng-if="student.status == 0" ng-click="reject()">Отказать</button>
          </div>
        </div>
          <div class="row achivments_profile" ng-if='student.achivments.length != 0' ng-cloak>
            <span>Достижения</span>
          </div>
        <div class="achivments_list">
          <ul class="small-12">
            <li ng-repeat='ach in student.achivments' ng-if='!ach.checked'>
              <a ui-sref="achivment_detail({achToShow : ach, owner: student})">
              <div class="ach" ng-class='{unchecked: !ach.checked}'>
                <div class="ach_icon {{ach.type}}"></div>
                <div class="ach_title" ng-bind="ach.name"></div>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
