<div class="page_content">
	<div class="row">
  <div class="form_card small-centered medium-6 medium-centered large-5 large-centered columns">
    <form name='auth'>
      <div class="row column login_form">
        <span class="form_title">Регистрация администратора</span>
        <label>Фамилия</label>
          <input type="text" ng-model='auth.lastName' required>
          <label>Имя</label>
          <input type="text" ng-model='auth.firstName' required>
          <label>Отчество</label>
          <input type="text" ng-model='auth.middleName' required>
        <label>Электронная почта</label>
          <input type="email" placeholder="jambul@example.com" ng-model='auth.email' required>
          <label>Пригласительный код</label>
          <input type="text" ng-model='auth.code' required>
        <label>Пароль</label>
          <input type="password" placeholder="********" ng-model="auth.password" ng-invalid='passwordCorrect' required>
          <input type="password" placeholder="********" ng-model="сheckPassword" ng-invalid='passwordCorrect' required>
          <span  ng-show='auth.$invalid'>Заполните форму корректно</span>
					<input type="submit" class="submit_form" value="Войти" ng-click="submit()">
      </div>
    </form>
  </div>
</div>
</div>
