<div class="page_content">
  <div class="row">
  <div class=" form_card registry small-centered medium-7 medium-centered large-7 large-centered columns">

    <form method='post' name='newAdmin'>
      <div class="row column login_form">
        <span class="form_title">Регистрация администратора</span>
        <label>Электронная почта</label>
            <input type="email" placeholder="jambul@example.com" ng-model="newAdmin.email" required='true'>
        <label>Фамилия</label>
            <input type="text" placeholder="Иванов" size="10" ng-model="newAdmin.lastName" required='true'>
            <label>Имя</label>
            <input type="text" placeholder="Иван" ng-model="newAdmin.firstName" size="10" required='true'>
  
            <label>Отчество</label>
            <input type="text" placeholder="Иванович" ng-model="newAdmin.middleName" size='10' required='true'>

             <label>Пригласительный код</label>
              <input type="text" readonly ng-model='code' required>
        <label>Пароль</label>
          <input type="password"  ng-minlength="5" ng-maxlength="20" placeholder="********" required ng-model='checkPassword'>
          <label>Пароль еще раз</label>
          <input type="password" ng-minlength="5" ng-maxlength="20" placeholder="********" ng-model='newAdmin.password' required='true'>
          <span ng-if='newAdmin.$valid && (newAdmin.password != checkPassword)'>Пароли не совпадают</span>
          <span ng-if='newAdmin.$invalid'>Заполните форму корректно</span>
          <input type="submit" class="submit_form" ng-click='submit()' value="Регистрация">
          <a ui-sref="auth">Вход</a>
      </div>
    </form>

  </div>
</div>
</div>

