<div class="page_content">
	<div class="row">
  <div class="form_card small-centered medium-6 medium-centered large-5 large-centered columns">
    <form name='auth'>
      <div class="row column login_form">
        <span class="form_title">Вход на платформу</span>
        <label>Электронная почта</label>
          <input type="email" placeholder="jambul@example.com" ng-model='auth.email' required>
          <label>Пригласительный код</label>
          <input type="text" ng-model='auth.code' required>
        <label>Пароль</label>
          <input type="password" placeholder="********" ng-model="auth.password" required>
          <input type="password" placeholder="********" ng-model="сheckPassword" required>
          <span style='{color: red} ' ng-show='auth.$invalid'>Заполните форму корректно</span>
					<input type="submit" class="submit_form" value="Войти" ng-click="submit()">
      </div>
    </form>
  </div>
</div>
</div>
