<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../styles/lib/foundation.min.css"/>
</head>
<body>
  <div class="wrapper">
    <section class="header"><a href="#" class="logo"></a>
      <nav class="nav_bar">
        <ul>
          <li><a href="#/">Информация</a></li>
          <li><a href="studentsBase.html">База активистов</a></li>
          <li><a href="profile.html">Рассказать о себе</a></li>
        </ul>
      </nav>
    </section>
    <section class="page_content">
      <div class="container">
        <div class="row">
          <div class="profile_info_card">
            <div class="user_main_info">
              <div class="user_avatar_profile"></div><span class="user_name_profile">Жамбыл Ермаганбет</span><span class="user_course_profile">ИТАСУ 2 курс</span>
            </div>
            <div class="user_detail"><span>O ceбе</span>
              <p> Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Мы хотим, чтобы наш вейп-шоп был удобен и полезен для всех категорий покупателей. вас все замечания и предложения о товаре, ценах, а главное — о сайте отправлять.</p>
            </div>
            <button class="btn_edit_user_detail">Редактировать</button>
          </div>
          <div class="help"><span class="help_title">Это ваш профиль студента</span>
            <p class="help_content">Здесь вы можете добавить свои достижения, которые отобразятся после подтверждения администрацией вуза        </p>
          </div>
          <div class="achivments_profile"><span>Достижения</span>
            <button class="btn_add_achivment">+</button>
          </div>
        </div>
        <div class="achivments_list">
          <ul>
            <li>
              <div class="ach">
                <div class="ach_icon science"></div>
                <div class="ach_title">Научное достижение</div>
              </div>
            </li>
            <li>
              <div class="ach">
                <div class="ach_icon cultural"></div>
                <div class="ach_title">Танцульки шутейки</div>
              </div>
            </li>
            <li>
              <div class="ach">
                <div class="ach_icon organization"></div>
                <div class="ach_title">Организационная деятельность</div>
              </div>
            </li>
            <li>
              <div class="ach">
                <div class="ach_icon sport"></div>
                <div class="ach_title">Спорт</div>
              </div>
            </li>
            <li>
              <div class="ach">
                <div class="ach_icon"></div>
                <div class="ach_title">Atque iusto nobis assumenda unde veniam aperiam architecto! </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="footer"><a href="#" class="misis_logo"></a></section>
  </div>
</body>
