<!DOCTYPE html>
<html lang="en" controller="titleCtrl"></html>
<head>
  <meta charset="UTF-8"/>
  <title>Document</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../styles/lib/foundation.min.css"/>
</head>
<body controller="authCtrl">
  <div class="wrapper">
    <section class="header"><a href="#" class="logo"></a>
      <nav class="nav_bar">
        <ul>
          <li><a href="#/">Информация</a></li>
          <li><a href="studentsBase.html">База активистов</a></li>
          <li><a href="profile.html">Рассказать о себе</a></li>
        </ul>
      </nav>
    </section>
<section class="page_content">
<div class="container">
  <div class="row">
    <div class="form_registry small-12 medium-7 columns">
      <input type="text" placeholder="Фамилия" class="registry_input">
      <input type="text" placeholder="Имя" class="registry_input">
      <input type="text" placeholder="Отчество" class="registry_input">
      <input type="text" placeholder="Инсттитут" class="registry_input">
      <input type="text" placeholder="Группа" class="registry_input">
      <input type="text" placeholder="Год поступления" class="registry_input">
      <input type="text" placeholder="Номер студенческого билета" class="registry_input">
    </div>
  </div>
</div>
</section>
