
   <section class="page_content">
    <div class="vertical_offset">
    <div class="row">
        <div class="achD_card small-12 medium-9 medium-centered columns">

        <div class="row">

            <div class="preloader_wrapper sB_preloader" ng-if="onLoad.common">
      <div class="preloader"></div>
      <div class="preloader_circle"></div>
      </div>

            <div class="achD_title small-12 columns"ng-bind="achivment.name"></div>
            <a ui-sref="profile({id: achivment.owner._id})" class="achD_ownerLink" ng-bind="achivment.owner.firstName + ' ' + achivment.owner.lastName"></a>
        </div>
        

            <div class="row" ng-if="!onLoad.common">
            <div class="achD_details small-12 medium-8 columns">
                <ul class="achD_detailsList small-12 columns">
                    <li class="row">
                    <span class="achD_detailsListLabel small-4 columns">Категория</span>
                    <span class=" achD_detailsListDesc small-8 columns" ng-bind="achivment.type"></span>
                    </li>
                    <li class="row">
                    <span class="achD_detailsListLabel  small-4 columns ">Уровень</span>
                    <span class="achD_detailsListDesc small-8 columns" ng-bind="achivment.level"></span>
                    </li>
                    <li class="row">
                    <span class="achD_detailsListLabel  small-4 columns  ">Организация</span>
                    <span class="achD_detailsListDesc small-8 columns" ng-bind="achivment.organization"></span>
                    </li>
                    <li class="row">
                    <span class="achD_detailsListLabel  small-4 columns">Результат</span>
                    <span class="achD_detailsListDesc small-8 columns" ng-bind="achivment.result"></span>
                    </li>
                    <li class="row">
                    <span class="achD_detailsListLabel  small-4 columns">Получено</span>
                    <span class="achD_detailsListDesc small-8 columns" ng-bind="achivment.created"></span>
                    </li>
                    <li class="row">
                    <span class="achD_detailsListLabel  small-4 columns">Статус</span>
                    <span class="achD_detailsListDesc small-8 columns" ng-bind="achivment.checked ? 'Подтверждено' : 'Не подтверждено'"></span>
                    </li>
                </ul>
            </div>

            <div class="achD_files small-12 medium-3 columns">
                <ul class="achD_filesList">
                    <li ng-repeat="file in achivment.files">
                        <div class="achD_filePrev" style="background-image: url({{isPdf(file) ? '../icons/interface.png' : file}}); background-size: cover;" ng-click='$parent.showPhoto(file)'></div>
                    </li>
                </ul>
            </div>

            <div class="row"></div>
            <div class="achD_rejected small-12 columns" ng-if="achivment.message">
                <p class="achD_rejectedMsg"ng-bind="'Отказано: ' + achivment.message "></p>
            </div>

            <div class="achD_description small-12 columns">
                <p class="achD_desctiptionP" ng-bind="achivment.description"></p>
            </div>

        </div>
    </div>
    </div>
</section>

<div class="fp_backdrop" ng-if='visiblePhoto' ng-click='$parent.visiblePhoto = false'>
<img class='small-centered columns' src="{{photoToShow}}" alt="">

</div>