<div class="page_content">
	<div class="row">
  <div class="form_card small-12 medium-6 medium-centered large-5 large-centered columns">
    <form method="post" enctype="multipart/form-data">
      <div class="row column login_form">
        <span class="form_title">Ваши успехи</span>
        <label>Название достижения</label>
          <input type="text" placeholder='Олимпиада по программирванию' required='true' ng-model='newAch.name'>
        <select name="category" class="select_category" ng-model='type' required='true'>
              <option>Спорт</option>
              <option>Культура</option>
              <option>Наука</option>
              <option>Общественная деятельность</option>
            </select>
          <label>Результаты</label>
          <input type="text" placeholder="Призер 2 место" required='true' ng-model='newAch.result'>
          <label>Организация</label>
          <input type="text" placeholder="mail.ru" required='true' ng-model='newAch.organization'>
           <label>Подробнее (не обязательно)</label>
          <textarea name="name" rows="5" class="small-12 columns" ng-model="newAch.descrption"></textarea>
           <label>Сканы документов</label>
            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
            ngf-resize="{width: 100, height: 100}">Select</div>
					<input type="submit"   class="submit_form" value="Отправить" ng-click="submitForm()">
      </div>
    </form>

  </div>
</div>
</div>
