<div class="page_content">
	<div class="row">
  <div class="form_card small-centered small-12 medium-6 medium-centered large-5 large-centered columns">
    <form method="post" enctype="multipart/form-data">
      <div class="row column login_form">
        <span class="form_title">Ваши успехи</span>
        <label>Название достижения</label>
          <input type="text" placeholder='Олимпиада по программирванию' required='true' ng-model='newAch.name'>
        <select name="category" class="select_category" ng-model='type' required='true'>
              <option>Спорт</option>
              <option>Культура</option>
              <option>Наука</option>
              <option>Общественная деятельность</option>
            </select>
          <label>Результаты</label>
          <input type="text" placeholder="Призер 2 место" required='true' ng-model='newAch.result'>
          <label>Организация</label>
          <input type="text" placeholder="mail.ru" required='true' ng-model='newAch.organization'>
           <label>Подробнее (не обязательно)</label>
          <textarea name="name" rows="5" class="small-12 columns" ng-model="newAch.description"></textarea>
           <label>Сканы документов</label>
            <div class="file_field" ngf-select ng-model="files" name="documents" ngf-pattern="'image/*'"
            ngf-accept="'image/*'"  
             ngf-multiple='true'>Выберите файлы</div>
             <div class="file_field" ng-repeat="file in files" ng-bind='file.name'></div>
             <span ng-if='!isValid()'>Заполните форму корректно</span>
					<input type="submit"   class="submit_form" value="Отправить" ng-click="submit()">
      </div>
    </form>

  </div>
</div>
</div>
