<section class="page_content">
	<div class="main_page_header">
		 <div class="project_name small-12 medium-5 columns">
		 	<div class="grad"></div>
		 	<p>Онлайн портфолио <br/> активных студентов <br/> НИТУ МИСиС</p>
		 </div>
		 <div class="short_info small-12 medium-4 columns">
		 	<h1>Расскажите о своих лучших достижениях и следите за самыми выдающимися студентами</h1>
		 	<button ui-sref='registry'>Регистрация</button>
		 	<button ui-sref='auth'>Вход</button>
		 	<button ui-sref='studentsBase'>Найти студента</button>
		 	<p>Официальная база активистов университета МИСиС позволяет рассказывать о своих успехах в учебе, спорте, культуре и науке. Кроме того, все достижения проверяются администрацией вуза и после подтверждения могут обеспечить вам повышенную стипендию.</p>
		 </div>
		 <div class="project_name small-12 medium-3 columns">
		 	<div class="grad"></div>
		 </div>
	</div>
</section>