<section class="page_content">
	<div class="main_page_header">
		 <div class="project_name small-12 medium-5 columns">
		 	<div class="grad"></div>
		 	<div class="projectName_wrap">
		 		<p class="projectName_title">Онлайн портфолио активных студентов НИТУ МИСиС</p>
			</div>
		 	<div class="small-12 medium-10 columns shortList_wrap">
		 		<span class="shortList_title">Последние достижения</span>
		 		<ul class="shortList_list">
		 			<li class="shortList_item" ng-repeat="student in lastStudents">
		 			<a ui-sref="profile({id: student._id})" class="shortList_itemLink">
		 				<div class="studItem_avatar" style="{{avatar(student)}}"></div>
		 				<ul class="studItem_details">
		 				<li class="studItem_name" ng-bind="student.firstName + ' ' + student.lastName"></li>
		 				<li ng-bind="student.department + ' ' + student.course + ' курс ' + student.group"></li>
		 				</ul>
		 				<a ui-sref="achivment_detail({achToShow: student.achivments[0], owner: student})" class="studItem_achivment" ng-bind="student.achivments[0].name.slice(0, 30)"></a>
		 				</a>
		 			</li>
		 		</ul>
		 	</div>
		 </div>
		 <div class="short_info small-12 medium-4 columns">
		 	<h1>Расскажите о своих лучших достижениях и следите за самыми выдающимися студентами</h1>
		 	<div class="row">
		 	<button  ui-sref='registry' ng-if="!(currentUser._id)">Регистрация</button>
		 	<button  ui-sref='auth' ng-if="!(currentUser._id)">Вход</button>
		 	<button  id='thirdB' ui-sref='studentsBase'>Найти студента</button>
		 	</div>
		 	<p>Официальная база активистов университета МИСиС позволяет рассказывать о своих успехах в учебе, спорте, культуре и науке. Кроме того, все достижения проверяются администрацией вуза и после подтверждения могут обеспечить вам повышенную стипендию.</p>
		 	</div>
		 <div class="project_name small-12 medium-3 columns">
		 	<div class="grad"></div>
		 </div>
	</div>
</section>