<section class="page_content">
	<div class="main_page_header">
		 <div class="short_info small-12 medium-7 columns">
		 	<h1>Расскажите о своих лучших достижениях</h1>
		 	<p class="shortInfo_description">Официальная база активистов университета МИСиС позволяет рассказывать о своих успехах в учебе, спорте, культуре и науке. <br> Кроме того, все достижения проверяются администрацией вуза и после подтверждения могут обеспечить вам повышенную стипендию.</p>

		 		<ul class="shortInfo_steps row">
		 			<li class="small-4 columns"><div class="shortInfo_icon"><div class="fa fa-user-plus"></div></div><div>Зарегистрируйтесь</div></li>
		 			<li class="small-4 columns"><div class="shortInfo_icon"><div class="fa fa-trophy"></div></div><div>Добавьте достижения</div></li>
		 			<li class="small-4 columns"><div class="shortInfo_icon"><div class="fa fa-check"></div></div><div>Получите подтверждение</div></li>
		 		</ul>

		 	</div>
		 	<div class="small-12 medium-5 columns mp_secondBlock">
		 	<div class="row">
		 	<div class="shortList_wrap small-12 columns">
 		<span class="shortList_title">Следите за выдающимися</span>
 		<ul class="shortList_list">
 			<li class="shortList_item" ng-repeat="student in lastStudents">
 			<a ui-sref="profile({id: student._id})" class="shortList_itemLink">
 				<div class="studItem_avatar" style="{{avatar(student)}}"></div>
 				<ul class="studItem_details">
 				<li class="studItem_name" ng-bind="student.firstName + ' ' + student.lastName"></li>
 				<li ng-bind="student.department + ' ' + student.course + ' курс ' + student.group"></li>
 				<li><a ui-sref="achivment_detail({achId: student.achivments[0]._id, studentId: student._id})" class="studItem_achivment" ng-bind="student.achivments[0].name.slice(0, 30)"></a></li>
 				</ul>
 				</a>
 			</li>
 		</ul>
 		</div>
		</div>
		 	<div class="mp_ca" ng-if="!(currentUser._id)">
		 	<span>Начните сейчас</span>
		 	<button class="mp_btn_registry" ui-sref='registry' ng-if="!(currentUser._id)">Рассказать о себе</button>
		 	</div>

		 	</div>
		 </div>
		
	</div>
</section>