  <section class="page_content">
      <div class="container">
        <div class="row profile_info">
          <div class="profile_info_card small-12 medium-7 medium-centered columns">
            <div class="user_main_info">
              <div class="user_avatar_profile" style="background-image: url({{userDetail.photoUri}})">
              <input class='avatar_file_input'type="file">
              </div><span class="user_name_profile" ng-bind="userDetail.firstName + ' ' + userDetail.lastName"></span>
              <span class="user_course_profile" ng-bind="userDetail.department +' '+ userDetail.course + ' курс'"></span>
            </div>
            <div class="user_detail"><span>O ceбе</span>
              <p ng-bind="userDetail.about"></p>
            </div>
          </div>
        </div>
          <div class="row achivments_profile">
            <span>Достижения</span>
          </div>
        <div class="achivments_list">
          <ul class="small-12">
            <li ng-repeat='ach in userDetail.achivments'>
              <a ui-sref="achivment_detail(ach.id)">
              <div class="ach">
                <div class="ach_icon {{ach.type}}"></div>
                <div class="ach_title" ng-bind="ach.name + ach.id"></div>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
