  <section class="page_content">
      <div class="container">
        <div class="row profile_info">
          <div class="profile_info_card small-12 medium-7 columns">
            <div class="user_main_info">
              <div class="user_avatar_profile" style="background-image: url({{userDetail.photoUri}})">
              <input type="file">
              </div><span class="user_name_profile" ng-bind="userDetail.firstName + ' ' + userDetail.lastName"></span>
              <span class="user_course_profile" ng-bind="userDetail.department +' '+ userDetail.course + ' курс'"></span>
            </div>
            <div class="user_detail"><span>O ceбе</span>
              <p ng-bind="userDetail.about"></p>
              <textarea name="name" rows="5" cols="70" ng-if="showEditField" ng-model="newUserDetail"></textarea>
            </div>
            <button  class="btn_edit_user_detail" ng-click="applyChanges()" ng-if="showEditField">Применить</button>
            <button class="btn_edit_user_detail" ng-click="showEditField ? notApplyChanges() : editUserDetail()" ng-bind="showEditField ? 'Отмена' : 'Редактировать'"></button>
          </div>
          <div class="help small-12 medium-5 columns">
            <span class="help_title small-12">Это ваш профиль студента</span>
            <p class="help_content small-12">Здесь вы можете добавить свои достижения, которые отобразятся после подтверждения администрацией вуза        </p>
          </div>
        </div>
          <div class="row achivments_profile">
            <span>Достижения</span>
            <button class="btn_add_achivment" ui-sref='add_achivment'>+</button>
          </div>
        <div class="achivments_list">
          <ul class="small-12">
            <li ng-repeat='ach in userDetail.achivments'>
              <a ui-sref="achivment_detail(ach.id)">
              <div class="ach">
                <div class="ach_icon {{ach.type}}"></div>
                <div class="ach_title" ng-bind="ach.name + ach.id"></div>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
