    <section class="students_base">
      <div class="students_base_header card">
        <span class="students_base_title">
          <center>База активистов НИТУ МИСиС</center></span>
        <div class="row search_params">
          <input type="text" name="name" max-lenght="15" value="" placeholder="Найти студента" class="search_student_input small-12 medium-4 columns" ng-model='searchParams.name'/>
          <button class="columns medium-1 btn_start_search" ng-click='getStudentsList(searchParams)'><i class=" fa fa-search"></i></button>
          <span class="category_label columns medium-2">По категории</span>
            <select name="category" class="select_category small-12 medium-5 columns" ng-model='searchParams.category'>
              <option>Спорт</option>
              <option>Культура</option>
              <option>Наука</option>
              <option>Общественная деятельность</option>
            </select>
        </div>
      </div>
      <ul class="students_list students_base_container">
        <li class="student_card" ng-repeat='student in searchResults'>
          <div class="avatar"></div>
          <ul class="profile_detail">
            <li class="first_name" ng-bind='student.firstName'></li>
            <li class="last_name" ng-bind='student.lastName'></li>
            <li class="course" ng-bind="student.department + ' ' + student.course + ' курс'"></li>
            <li>
              <button class="btn_profile_link" ui-sref='profile({{student.id}})'>Профиль</button>
            </li>
          </ul>
          <ul class="short_achivments_list">
            <li class="achivment_link" ng-if='student.achivments[0]'><a ui-sref='achivment_detail({{student.achivments[0].id}})' ng-bind='student.achivments[0].name'></a></li>
            <li class="achivment_link" ng-if='student.achivments[1]'><a ui-sref='achivment_detail({{student.achivments[1].id}})' ng-bind='student.achivments[1].name'></a></li>
            <li class="achivment_link" ng-if='student.achivments[2]'><a ui-sref='achivment_detail({{student.achivments[2].id}})' ng-bind='student.achivments[2].name'></a></li>
            <li class="achivment_link" ng-if='student.achivments[3]'><a  ui-sref='achivment_detail({{student.achivments[3].id}})' ng-bind='student.achivments[3].name'></a></li>

            <button class="achivments_count" ng-click='viewAchList(student.achivments)'> <span ng-bind='student.achivments.length'></span><i class="fa fa-trophy"> </i></button>
          </ul>
        </li>
      </ul>
      <section id="achivments_popup" ng-if='showPopup'>
        <ul>
        <li ng-repeat='ach in listToShow'>
          <div class="ach">
            <div class="ach_icon {{ach.type}}"></div>
            <div class="ach_title" ng-bind='ach.name'></div>
          </div>
        </li>
        </ul>
      </section>

    </section>
