section.header
  div.logo
  nav.nav_bar
    ul
      li
        a(href="#/") Информация
      li
        a(href="#/students") База активистов
      li
        a(href="#/profile") Рассказать о себе
      
