extends layout
block header
  include header
block content
  section.page_content
    div.container
      div.row
        div.profile_info_card
          div.user_main_info
            div.user_avatar_profile
            span.user_name_profile Жамбыл Ермаганбет
            span.user_course_profile ИТАСУ 2 курс
          div.user_detail
            span O ceбе
            p  Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Мы хотим, чтобы наш вейп-шоп был удобен и полезен для всех категорий покупателей. вас все замечания и предложения о товаре, ценах, а главное — о сайте отправлять.
          button.btn_edit_user_detail Редактировать
        div.help
          span.help_title Это ваш профиль студента
          p.help_content Здесь вы можете добавить свои достижения, которые отобразятся после подтверждения администрацией вуза        
        div.achivments_profile
          span Достижения
          button.btn_add_achivment +
       div.achivments_list
         ul
           li
             .ach
               .ach_icon.science
               .ach_title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           li
             .ach
               .ach_icon.cultural
               .ach_title Minima quos temporibus velit aut, cupiditate omnis vel?
           li
             .ach
               .ach_icon.organization
               .ach_title Laborum libero totam dicta quisquam modi molestiae perspiciatis.
           li
             .ach
               .ach_icon
               .ach_title Repudiandae odit, iure, vero cupiditate totam tempore fuga.
           li
             .ach
               .ach_icon
               .ach_title Atque iusto nobis assumenda unde veniam aperiam architecto! 
 block footer 
   include footer
 
