    <section class="students_base">
      <div class="students_base_header card">
        <span class="students_base_title">
          <center>База активистов НИТУ МИСиС</center></span>
        <div class="row search_params">
          <input type="text" name="name" max-lenght="15" value="" placeholder="Найти студента" class="search_student_input small-12 medium-4 columns"/>
          <button class="columns medium-1 btn_start_search"><i class=" fa fa-search"></i></button>
          <span class="category_label columns medium-2">По категории</span>
            <select name="category" class="select_category small-12 medium-5 columns">
              <option>Спорт</option>
              <option>Культура</option>
              <option>Наука</option>
              <option>Организационная деятельность</option>
            </select>
        </div>
      </div>
      <ul class="students_list students_base_container">
        <li class="student_card">
          <div class="avatar"></div>
          <ul class="profile_detail">
            <li class="first_name">{{hey}}</li>
            <li class="last_name">Ермагамбет</li>
            <li class="course">ИТАСУ 2 курс</li>
            <li>
              <button class="btn_profile_link">Профиль</button>
            </li>
          </ul>
          <ul class="short_achivments_list">
            <li class="achivment_link"><a href="#">Победа в квн</a></li>
            <li class="achivment_link"><a href="#">Международный конкурс</a></li>
            <li class="achivment_link"><a href="#">Бла бла бла</a></li>
            <button class="achivments_count"> <span>8</span><i class="fa fa-trophy"> </i></button>
          </ul>
        </li>
        <li class="student_card">
          <div class="avatar"></div>
          <ul class="profile_detail">
            <li class="first_name">Жамбыл</li>
            <li class="last_name">Ермагамбет</li>
            <li class="course">ИТАСУ 2 курс</li>
            <li>
              <button class="btn_profile_link">Профиль</button>
            </li>
          </ul>
          <ul class="short_achivments_list">
            <li class="achivment_link"><a href="#">Победа в квн</a></li>
            <li class="achivment_link"><a href="#">Международный конкурс</a></li>
            <li class="achivment_link"><a href="#">Бла бла бла</a></li>
            <li class="achivment_link"><a href="#">Еще одно  </a></li>
          </ul>
          <button class="achivments_count"> <span>8</span><i class="fa fa-trophy"></i></button>
        </li>
      </ul>
      <section id="achivments_popup" style="visibility: hidden;">
        <ul><li>
          <div class="ach">
            <div class="ach_icon sport"></div>
            <div class="ach_title">dmq</div>
          </div>
        </li>
        <li>
          <div class="ach">
            <div class="ach_icon cultural"></div>
            <div class="ach_title">dqkdw</div>
          </div>
        </li>
        <li>
          <div class="ach">
            <div class="ach_icon organization"></div>
            <div class="ach_title">dwqd</div>
          </div>
        </li>
        <li>
          <div class="ach">
            <div class="ach_icon science"></div>
            <div class="ach_title">djqid</div>
          </div>
        </li>
        <li>
          <div class="ach">
            <div class="ach_icon science"></div>
            <div class="ach_title">dmlkqd</div>
          </div>
        </li></ul>
      </section>

    </section>
